.main-form-footer {
  display: inline-flex;
  justify-content: space-between;
  align-self: center;
  margin-top: 0.25rem;
}

button {
  margin-left: 0.3rem;
  border-radius: 1rem;
  cursor: pointer;
  outline: none;
  color: #444;
  background-color: #e7e7db;
  border: none;
  border-radius: 15px;
  box-shadow: 0 1px #74746e;
}

button:hover {
  background-color: #d0d0c5;
}

button:active {
  background-color: #a2a299;
  transform: translateY(1px);
}
