.main-form {
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  height: 100vh;
  background-color: #e1c391;
  border-right-style: solid;
  border-right-width: 1px;
}

.main-form > div,
.main-form > button {
  position: relative;
  top: 8rem;
}

button {
  margin: 0.5rem 25% 0 25%;
  width: 25%;
  align-self: center;
  border-radius: 1rem;
}
